main {
    width: 100%;
    text-align: center;
}

.gifs-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

h1 {
    color: rgb(185, 185, 185); 
    font-weight: 400;
}

.input-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
}

.input-field:focus {
    outline: none;
    border: 3px solid rgb(30,126,229);
    border-radius: 7px;
    background-color: rgb(240, 240, 250);
}